<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Photograpy portfolio D-lightPhotograpy portfolio pixelshub360 
    photographerportfolio Nigerianphotogrpahers Benue Photographers">
    <meta name="keyword" content="D-light,D-lightPhotograpy,Dlight,Dlight Photograpy,Photograpy,
    Pixels hub 360,360,pixels,pixelshub360,photographerportfolio,Nigerianphotogrpahers,Benue Photographers">   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="photo.css">
    <link rel="stylesheet" href="bootstrap-icons.css">
    <title>Contact us at D-light studio</title>
    <link rel="stylesheet" type="text/css" href="engine/engine.css">
    <link rel="stylesheet" type="text/css" href="engine/cssSystem.css">
    <script type="text/javascript" src="engine/resource/Angular.v1.5.9.js"></script>
    <script type="text/javascript" src="engine/config.moseshavelock"></script>
    <script src="engine/jquery.min.js"></script>
</head>
<body>
     <header>
    <span class="contactus">Contact us</span>
    <span class="bi bi-list" id="menu_button" onclick="navigationFunction()"></span>
    <span class="bi bi-search" id="search_box_button" onclick="searchBoxFunction()"></span>
  </header>

  <nav id="navigationBox"> <!--display navigation block using javascript onclick of bi-list*/-->
    <ul>
     <li><a href="index.html">Home</a></li>
     <!--Since you wanted me to say please oga please link this search in the navigation bar to the search box-->
     <li><a id="search_box_button" onclick="searchBoxFunction()">Search</a></li>
     <li><a href="photo-Portfolio.html">Portfolio</a></li>
     <li><a>Photographers</a></li>
     <li><a href="bookingpage.html">Book a Session</a></li>
     <li><a href="contactusphoto.html">Contact Us</a></li>
     <li><a href="client'sgallery.html">Clients gallery</a></li>
     <li><a>Blog</a></li>
    </ul>
  </nav>

  <div id="forms" class="search_box" ng-app="mosesHavelockApp" ng-controller="searchApp">
    <!--Display this search input block onclick   -->
       <form id="searchFormArea">
        <input oninput="chcckInputLenght()" type="search" id="searchValue" name="search" placeholder="Search" ng-model="searchInput" value="">
        <span class="bi bi-search" onclick="searchBoxFunction()" id="search_box_button_not_too_used"></span>
       </form>
    <!--Display this search input block onclick-->
    <div id="searchResultingArea" class="search-result" style="display: none;">
       <h3>Result(s):</h3>
       <ul id="searchResultList">
          <li ng-repeat="x in pages | filter : searchInput" class="searchResultLink"><a href="{{ x.link }}" > {{ x.name }} </a></li>
       </ul> 
    </div>
 </div>
 <script>
 function chcckInputLenght(){
    if(document.getElementById("searchValue").value.length >= 1){
       document.getElementById("searchResultingArea").style.display = "block";  
    }else{
       document.getElementById("searchResultingArea").style.display = "none"; 
    }
 }
 </script>
    
    <p class="contactusparagraph">
        Hello!,<br>
        Welcome to our website, Please how may we be of help to you.<br>
        You can Contact us through the following means provided below.
    </p>

    <div class="firstfooter">
      <div class="visit">Visit Us</div>

     <div class="address">Number 5 Ali Akuli Road Makurdi,Benue state,Nigeria.</div>

      <div class="contact">Contact us</div>

       <div class=" phnno">
	      <span class="bi bi-telephone-fill"> :+2349053278213</span>
      </div>

      <div class="email"> 
          <span class="bi bi-envelope-fill"> :dlightphotographi@gmail.com</span>
      </div>
       <div class="handles">Via our social media handles</div>
      <div class="socials">
         <a href="http://www.facebook.com/phaatima.haruna" class="bi bi-facebook"></a>
         <a href="www.instagram.com/dlightphotographi" class="bi bi-instagram"></a>
         <a href="www.twitter.com/dlightfotografi" class="bi bi-twitter"></a>
         <a href="http://api.whatsapp.com/send?phone=2349053278213" class="bi bi-whatsapp"></a>
         <a href="tiktok.com/@comrharun" class="bi bi-tiktok"></a>
      </div>
   </div>
 
   <footer>
      <div class="lstfooter">
      <a href="bookingpage.html">Book a photo session</a><br>
      <a href="aboutus.html">About us</a><br>
      <a href="terms.html">Terms and conditions</a><br>
      <a href="mailto:dlightphotographi@gmail.com">Report</a><br>
     
      <p class="copy">&copy;1992-
        <script>
        var date = new Date(); 
        document.write(date.getFullYear());
        </script>
        <br>All rights reserved by <script> document.write(window.location.host); </script>
        </p>
     </div>
     
  </footer>    
     
     
     <script src="photo.js"></script>
     <script src="engine/engine.js"></script>
     <script type="text/javascript" src="engine/scriptSystem.js"></script>
     <script type="text/javascript" src="engine/search.js"></script>
</body>
</html>